{
  "extends": [
    "airbnb-base",
    "plugin:cypress/recommended"
  ],
  "env": {
    "node": true,
    "browser": true,
    "jest": true
  },
  "rules": {
    "no-console": "warn",
    "object-curly-newline": [
      "error",
      {
        "ObjectPattern": {
          "minProperties": 6
        }
      }
    ]
  }
}